@using Microsoft.AspNetCore.Html;
@model List<NaturalFirstWebApp.ViewModels.RechargeListVM>

@{
    ViewData["Title"] = "Recharge";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<link href="~/css/admin/withdraw.css" rel="stylesheet" />
<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <div class="navbar-left">
                        <a href="@Url.Action("Index","Admin")" style="text-decoration:none;">
                            <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                            <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                        </a>
                    </div>
                    <div class="title">
                        <div style="color: black;">Recharge</div>
                    </div>
                    <div class="navbar-right" style="margin-right:10px;">
                        <a href="@Url.Action("RechargeHistory","Admin")" style="text-decoration:none;">
                            <span class="record-text" style="vertical-align: middle; position: relative;">Records</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrap">
            <div class="article-content">
                <div class="task">
                    @if(Model.Count>0 && Model != null)
                    {
                        @foreach (var data in Model)
                        {
                            @*
                    IdHistory = Convert.ToInt32(reader["IdHistory"]),
                    Email = reader["Email"].ToString(),
                    Image = reader["ProfilePic"] != DBNull.Value ? (byte[])reader["ProfilePic"] : null,
                    Amount = (Decimal)reader["Password"],
                    CreatedDate = (DateTime)reader["Role"],
                    Status = reader["Status"].ToString(),
                    TrnCode = reader["TrnCode"].ToString(),
                    UserId
                            *@
                            <div class="profile-info" onclick="ShowPopUp(@data.IdHistory)">
                                <div class="profile-info-wrapper profile-info-clickable">
                                    <div class="profile-content">
                                        <div class="profile-image">
                                            <!-- Replace with an actual image URL -->
                                            @*<img src="../../images/logo.png" alt="Profile Image">*@
                                            @ConvertByteArrayToImage(data.Image)
                                        </div>
                                        <div class="profile-text">
                                            <p><span id="user-mailLbl">@data.Email</span></p>
                                            <p><span id="user-idLbl">ID : @data.UserId</span></p>
                                        </div>
                                    </div>
                                    <div class="settings-icon">
                                        <div class="amount">Amount: <span id="amountLbl">&#x20b9; @data.Amount</span></div>
                                        @*<div class="status">Transaction Id: <span id="trnId">@data.TrnCode</span></div>*@
                                        <div class="status">Status: <span id="statusLbl">@data.Status</span></div>
                                        <div class="date">Date: <span id="dateLbl">@data.CreatedDate.ToString("dd-MM-yyyy hh:mm tt")</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wallet-separator"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="purchase-popup">
    <div class="close-button" id="close-button">&times;</div>
    <div class="popup-content">
        <div class="wallet">
            <div class="popup-info-wrapper">
                <div class="pop-up-content">
                    <div class="popup-image">
                        <!-- Replace with an actual image URL -->
                        @*<img src="../../images/logo.png" alt="Profile Image">*@
                    </div>
                    <div class="popup-text">
                        <p><span class="user-mail" id="rcEmail"></span></p>
                        <p>ID : <span class="user-id" id="user-id"></span></p>
                    </div>
                </div>
            </div>
            <div class="div-separator"></div>
            <div class="price-row">
                <div class="info-item">
                    <div class="amount-title">Amount</div>
                    <div class="amount-value" id="amount">&#x20b9; 350</div>
                </div>
                <div class="info-item">
                    <div class="amount-title">Transaction Id</div>
                    <div class="amount-value" id="trnId">514154151556</div>
                </div>
                <div class="info-item">
                    <div class="date-title">Date & time</div>
                    <div class="date-time" id="trnDate">21 May 2000</div>
                </div>
                <div class="buttons">
                    <button class="denied-button" id="btnDeny">Deny</button>
                    <button class="succeed-button" id="btnAccept">Succeed</button>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public IHtmlContent ConvertByteArrayToImage(byte[]? byteArray)
    {
        if (byteArray != null && byteArray.Length > 0)
        {
            var imageBase64 = Convert.ToBase64String(byteArray);
            var html = $"<img src='data:image/jpeg;base64,{imageBase64}' />";
            return new HtmlString(html);
        }
        else
        {
            return Html.Raw("No Image"); // Or display a placeholder image
        }
    }
}

<script src="~/js/Admin/Recharge.js"></script>