@model NaturalFirstWebApp.ViewModels.ResetPassword
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_HomeLayout";
}
<div class="forgot-password-container">
    @if (!string.IsNullOrEmpty(ViewBag.StatusId))
    {
        <span class="danger">@ViewBag.msg</span>
    }
    <div class="company" style="text-align: center;">
        <h2><img src="~/images/logo.png" alt="logo" /></h2>
    </div>
    <h1>Forgot Password</h1>
    <form class="form" id="forgot-password-form" action="ForgotPassword" method="post">
        <label for="email">Email:</label>
        <input type="email" name="Email" id="Email" required>
        <span>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })</span>
        <div class="verification-container">
            <label for="verification-code">Verification Code:</label>
            <input type="text" name="VerificationCode" id="verification-code" required>
            <button type="button" id="send-verification-btn" onclick="sendVerificationCode()">Send</button>
        </div>
        <p id="wait-time">Please wait 60 seconds for the next verification code.</p>
        <label for="new-password">New Password:</label>
        <input type="password" name="Password" id="new-password" required>
        <span>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</span>
        <label for="confirm-new-password">Confirm New Password:</label>
        <input type="password" name="ConfirmPassword" id="confirm-new-password" required>
        <span>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })</span>
        <button type="submit">Change Password</button>
    </form>
    <div class="options">
        <a href="@Url.Action("Index")">Back to Sign In</a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Home/forgot_password.js"></script>
