@model NaturalFirstWebApp.Models.BankDetails
@{
    ViewData["Title"] = "Withdraws";
    Layout = "_User1Layout";
}
<link rel="stylesheet" href="~/css/withdraws.css" />

<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <div class="navbar-left">
                        <a href="@Url.Action("Index","User")">
                            <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                            <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                        </a>
                    </div>
                    <div class="title">
                        <div style="color: black;">Withdraws</div>
                    </div>
                    <div class="navbar-right">
                        <a href="@Url.Action("WithdrawHistory","User")">
                            <span class="record-text" style="vertical-align: middle; position: relative;">Records</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrap">
            <div class="article-content">
                <div class="balance">
                    Balance: <span id="balance">0.00</span>
                    <span class="all">&nbsp;All&nbsp;</span>
                </div>
                <form id="bankForm">
                    <!-- First Div: Real Name -->
                    <div class="info-item"><span id="header">Bank account</span></div>
                    <div class="info-item">
                        <div class="item-text">Bank</div>
                        <div class="item-value">@Model.BankName</div>
                    </div>

                    <!-- Second Div: Bank Selection -->
                    <div class="info-item">
                        <div class="item-text">Realname</div>
                        <div class="item-value">@Model.RealName</div>
                    </div>

                    <!-- Third Div: Bank Account Number -->
                    <div class="info-item">
                        <div class="item-text">Account</div>
                        <div class="item-value">@Model.AccountNo</div>
                    </div>

                    <!-- Fourth Div: IFSC Code -->
                    <div class="info-item">
                        <div class="item-text">IFSC</div>
                        <div class="item-value">@Model.IFSCCode</div>
                    </div>
                    <div class="info-item">
                        <div class="item-text">Amount:<br></div>
                        <div class="send">Rs.</div>
                        <div class="veri-code"><input type="number" name="Amount" placeholder="Please enter the amount"></div>
                    </div>
                    <div class="info-item">
                        <div class="item-text">Password:<br></div>
                        <div class="input-new-pswd">
                            <input type="password" name="TrnPassword" placeholder="Please enter the payment password">
                        </div>
                    </div>
                    <div class="center-button">
                        <button type="submit" id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
            <p class="tandc">
                1: Valid members can apply for withdrawal. The number of withdrawals in unlimited. The withdrawal amount is 110rs.<br>2: IFSC should be 11 characters and 5th character should be 0. If you fill in wrong bank information, your  withdrawal will fail.<br>3: Withdrawal fee: 8%<br>4: Withdrawal time: 1-2 days<br>
                <br>
                <br><br>
            </p>
        </div>
    </div>
</div>
@if (ViewBag.StatusId != null && ViewBag.StatusId == 1)
{
    <script>
        alert('@ViewBag.Status');
    </script>
}
