@model NaturalFirstWebApp.Models.BankDetails
@{
    ViewData["Title"] = "Withdraws";
    Layout = "_User1Layout";
}
<link rel="stylesheet" href="~/css/withdraws.css" />
@if (TempData["StatusId"] != null && (int)TempData["StatusId"] == 1)
{
    <script>
        alert('@TempData["Status"]');
    </script>
}
<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <div class="navbar-left">
                        <a href="@Url.Action("Index","User")" style="text-decoration:none;">
                            <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                            <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                        </a>
                    </div>
                    <div class="title">
                        <div style="color: black;">Withdraws</div>
                    </div>
                    <div class="navbar-right">
                        <a href="@Url.Action("WithdrawHistory","User")" style="text-decoration:none;">
                            <span class="record-text" style="vertical-align: middle; position: relative;">Records</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrap">
            <div class="article-content">
                <div class="balance">
                    Balance: <span id="balance">@ViewBag.Balance</span>
                    <span class="all">&nbsp;All&nbsp;</span>
                </div>
                <div>
                    <!-- First Div: Real Name -->
                    <div class="info-item"><span id="header">Bank account</span></div>
                    <div class="info-item">
                        <div class="item-text">Bank</div>
                        <div class="item-value">@Model.BankName</div>
                    </div>

                    <!-- Second Div: Bank Selection -->
                    <div class="info-item">
                        <div class="item-text">Realname</div>
                        <div class="item-value">@Model.RealName</div>
                    </div>

                    <!-- Third Div: Bank Account Number -->
                    <div class="info-item">
                        <div class="item-text">Account</div>
                        <div class="item-value">@Model.AccountNo</div>
                    </div>

                    <!-- Fourth Div: IFSC Code -->
                    <div class="info-item">
                        <div class="item-text">IFSC</div>
                        <div class="item-value">@Model.IFSCCode</div>
                    </div>
                    <div class="info-item">
                        <div class="item-text">Amount:<br></div>
                        <div class="send">Rs.</div>
                        <div class="veri-code"><input type="number" min="150" name="Amount" required id="Amount" placeholder="Please enter the amount" /></div>
                    </div>
                    <div class="info-item">
                        <div class="item-text">Password:<br></div>
                        <div class="input-new-pswd">
                            <input type="password" name="TrnPassword" id="TrnPassword" required placeholder="Please enter the payment password" />
                        </div>
                    </div>
                    <div class="center-button">
                        <button type="submit" id="submitButton">Submit</button>
                    </div>
                </div>
            </div>
            <p class="tandc">
                1: Valid members can apply for withdrawal. The number of withdrawal is unlimited. The minimum withdrawal amount is 150rs.<br />
                2: IFSC should be 11 characters and 5th character should be 0. If you fill in wrong bank information, your  withdrawal will fail.<br />
                3: Withdrawal fee: 7%.<br />
                4: Withdrawal time: 1-3 days<br />
                <br>
                <br><br>
            </p>
        </div>
    </div>
</div>

<script src="~/js/User/Withdraw.js" defer></script>
